Repository deresmos/delogger, changes with the labels that .github/labeler.yml gives for each.
All labels: workflow, decorator, handler, logger, mode, preset, base, filter

.github/labeler.yml:

workflow:
  - .github/*.yml
  - .github/workflows/**/*
decorator:
  - delogger/decorators/*
handler:
  - delogger/handlers/*
logger:
  - delogger/loggers/*
mode:
  - delogger/modes/*
preset:
  - delogger/presets/*
base:
  - delogger/base.py
filter:
  - delogger/filters.py

Add info presets
  delogger/presets/info.py
Labels: preset

Fix tests
  tests/handlers/test_count_rotating_file_handler.py
  tests/lib/base.py
  tests/modes/test_file.py
  tests/presets/test_presets.py
Labels: none

Refactoring presets
  delogger/presets/base.py
  delogger/presets/debug.py
  delogger/presets/debug_stream.py
  delogger/presets/info.py
  delogger/presets/output.py
  delogger/presets/profiler.py
  tests/presets/test_presets.py
Labels: preset

Change python test actions
  .github/workflows/python_test.yml
  Makefile
Labels: workflow

Change log format of debug stream
  delogger/modes/stream.py
  tests/lib/base.py
Labels: mode

Remove deprecated
  delogger/__init__.py
  delogger/base.py
  delogger/handlers/run_rotating.py
  delogger/logger.py
  delogger/loggers/__init__.py
  delogger/loggers/debug_logger.py
  delogger/loggers/debug_stream.py
  delogger/loggers/output_only.py
  delogger/setting.py
  tests/deprecated/__init__.py
  tests/deprecated/config.py
  tests/deprecated/test_delogger.py
  tests/modes/test_stream.py
Labels: handler, logger, base

Formatter
  delogger/modes/file.py
  tests/lib/base.py
Labels: mode

Change to poetry publish
  .github/workflows/python_publish.yml
  Makefile
Labels: workflow

Add python3.9 test
  .github/workflows/python_test.yml
Labels: workflow

Refactoring
  delogger/__init__.py
  delogger/decorators/base.py
  delogger/decorators/line_profile.py
  delogger/filters/__init__.py
  delogger/filters/only_filter.py
  delogger/loggers/__init__.py
  delogger/loggers/base.py
  delogger/loggers/delogger.py
  delogger/loggers/delogger_queue.py
  delogger/modes/base.py
  delogger/modes/file.py
  delogger/modes/propagete.py
  delogger/modes/slack.py
  delogger/modes/stream.py
Labels: decorator, logger, mode

Refactoring loggers
  delogger/decorators/base.py
  delogger/loggers/base.py
  delogger/loggers/delogger.py
  delogger/loggers/delogger_queue.py
Labels: decorator, logger

Refactoring decorators
  delogger/decorators/base.py
  delogger/decorators/debug_log.py
  delogger/decorators/line_memory_profile.py
  delogger/decorators/line_profile.py
  delogger/decorators/memory_profile.py
  poetry.lock
  pyproject.toml
Labels: decorator

Formatter
  delogger/modes/stream.py
Labels: mode

Fix to warn if the required package is not available
  delogger/decorators/line_memory_profile.py
  delogger/decorators/line_profile.py
  delogger/decorators/memory_profile.py
  delogger/util/__init__.py
  delogger/util/warn.py
Labels: decorator

actions cache
  .github/workflows/python_publish.yml
  .github/workflows/python_test.yml
Labels: workflow

Add DecoratorBase to root
  delogger/__init__.py
  delogger/loggers/base.py
Labels: logger

Update README
  README.md
  samples/custom.py
  samples/debug.py
  samples/debug_preset.py
  samples/line_profile.py
  samples/profilers_preset.py
Labels: none

Remove requests
  poetry.lock
  pyproject.toml
  tests/modes/test_slack.py
Labels: none

Add LogFile
  delogger/handler/count_rotating_file.py
  delogger/handler/slack.py
  delogger/mode/file.py
  delogger/util/log_file.py
  tests/modes/test_file.py
Labels: none

Change directory name singular
  tests/decorator/__init__.py
  tests/decorator/test_debug_log.py
  tests/decorator/test_profiles.py
  tests/handler/__init__.py
  tests/handler/test_count_rotating_file_handler.py
  tests/handler/test_slack_handler.py
  tests/mode/__init__.py
  tests/mode/test_file.py
  tests/mode/test_propagate.py
  tests/mode/test_slack.py
  tests/mode/test_stream.py
  tests/preset/__init__.py
  tests/preset/test_presets.py
Labels: none

Gardening
  delogger/decorator/base.py
  delogger/filter/only_filter.py
  delogger/logger/base.py
  delogger/mode/stream.py
  delogger/preset/base.py
  delogger/preset/debug.py
  delogger/preset/debug_stream.py
  delogger/preset/info.py
  delogger/preset/output.py
  delogger/preset/profiler.py
  delogger/util/log_file.py
  poetry.lock
  tests/decorator/test_profiles.py
Labels: none

Coverage adjustment
  .coveragerc
  .gitignore
  Makefile
  delogger/decorator/base.py
  delogger/handler/count_rotating_file.py
  delogger/mode/file.py
  delogger/util/log_file.py
  poetry.lock
  pyproject.toml
  tests/decorator/test_base.py
  tests/decorator/test_debug_log.py
  tests/decorator/test_profiles.py
  tests/handler/test_count_rotating_file_handler.py
  tests/handler/test_slack_handler.py
  tests/lib/base.py
  tests/logger/__init__.py
  tests/logger/test_base.py
  tests/logger/test_delogger.py
  tests/mode/test_slack.py
  tests/preset/test_presets.py
  tests/util/__init__.py
  tests/util/test_log_file.py
Labels: none

Fix slack handler test
  .gitignore
  tests/handler/test_slack_handler.py
  tests/lib/urlopen_mock.py
  tests/preset/test_presets.py
Labels: none

Add DeloggerQueue test and fix process
  delogger/decorator/base.py
  delogger/handler/delogger_queue.py
  delogger/logger/delogger_queue.py
  tests/logger/test_delogger_queue.py
Labels: none

Fix TestDelogger
  tests/logger/test_delogger.py
Labels: none

Add exclude coverge lines
  .coveragerc
  delogger/decorator/line_memory_profile.py
  delogger/decorator/line_profile.py
  delogger/decorator/memory_profile.py
Labels: none

Fix test
  delogger/logger/base.py
Labels: none

Add isort
  .isort.cfg
  Makefile
  delogger/__init__.py
  delogger/decorator/base.py
  delogger/decorator/line_memory_profile.py
  delogger/decorator/profiles.py
  delogger/handler/count_rotating_file.py
  delogger/handler/slack.py
  delogger/logger/base.py
  delogger/logger/delogger_queue.py
  delogger/mode/base.py
  delogger/mode/stream.py
  delogger/preset/base.py
  delogger/preset/debug.py
  delogger/preset/info.py
  delogger/preset/output.py
  delogger/preset/profiler.py
  poetry.lock
  pyproject.toml
  samples/custom.py
  setup.py
  tests/decorator/test_debug_log.py
  tests/decorator/test_profiles.py
  tests/handler/test_count_rotating_file_handler.py
  tests/handler/test_slack_handler.py
  tests/lib/base.py
  tests/mode/test_file.py
  tests/mode/test_propagate.py
  tests/mode/test_slack.py
  tests/mode/test_stream.py
  tests/test_delogger.py
Labels: none

Formatter
  delogger/handler/delogger_queue.py
  delogger/logger/delogger_queue.py
  tests/decorator/test_base.py
  tests/lib/urlopen_mock.py
  tests/mode/test_slack.py
  tests/util/test_log_file.py
Labels: none
