Repository deresmos/delogger, changes with the labels that .github/labeler.yml gives for each.
All labels: workflow, decorator, handler, logger, mode, preset, base, filter

Deprecated Setting.file_fmt
  delogger/modes/file.py
  delogger/setting.py
Labels: mode

Deprecated streamsetting
  delogger/base.py
  delogger/modes/stream.py
  delogger/setting.py
Labels: mode, base

Refactoring streammode
  delogger/modes/stream.py
Labels: mode

Add add_color_stream_handler
  delogger/base.py
  delogger/modes/stream.py
Labels: mode, base

Refactoring ColorStreamMode
  delogger/modes/stream.py
  delogger/setting.py
Labels: mode

Deprecated DeloggerSetting
  delogger/base.py
  delogger/setting.py
Labels: base

Gardening typehint
  .gitignore
  delogger/base.py
  delogger/decorators/base.py
  delogger/decorators/debug_log.py
  delogger/decorators/line_memory_profile.py
  delogger/handlers/run_rotating.py
  delogger/handlers/slack.py
  delogger/logger.py
  delogger/modes/file.py
  delogger/modes/stream.py
  delogger/presets/debug.py
  delogger/presets/debug_stream.py
  delogger/presets/output.py
  delogger/presets/profiler.py
Labels: decorator, handler, mode, preset, base

Fix to be the same as last time
  delogger/__init__.py
  delogger/handlers/slack.py
  delogger/loggers/debug_logger.py
Labels: handler, logger

Fix linter error
  delogger/decorators/debug_log.py
  tests/decorators/test_profiles.py
  tests/presets/test_presets.py
Labels: decorator

Fix test error
  delogger/handlers/slack.py
  delogger/logger.py
Labels: handler

Add SlackWebhookMode
  delogger/modes/slack.py
Labels: mode

Gardening output presets
  delogger/presets/output.py
Labels: preset

Add slack mode test
  tests/modes/test_slack.py
Labels: none

Rename
  README.md
  delogger/base.py
  delogger/logger.py
  delogger/loggers/debug_logger.py
  delogger/loggers/debug_stream.py
  delogger/modes/stream.py
  delogger/presets/debug.py
  delogger/presets/debug_stream.py
  delogger/presets/profiler.py
  tests/deprecated/test_delogger.py
  tests/modes/test_stream.py
Labels: logger, mode, preset, base

Rename and add __all__
  delogger/modes/base.py
  delogger/modes/file.py
  delogger/modes/propagete.py
  delogger/modes/slack.py
  delogger/modes/stream.py
Labels: mode

Gardening
  delogger/modes/stream.py
Labels: mode

Delete travis
  .travis.yml
Labels: none

Add slack token mode
  delogger/modes/slack.py
Labels: mode

Change requests to urllib.request
  delogger/handlers/slack.py
  tests/handlers/test_slack_handler.py
  tests/modes/test_slack.py
Labels: handler

Fix typo
  tests/handlers/test_slack_handler.py
Labels: none

Gardening
  delogger/handlers/slack.py
  tests/handlers/test_slack_handler.py
Labels: handler

Fix test slack handler
  tests/handlers/test_slack_handler.py
Labels: none

Fix test error
  tests/deprecated/config.py
Labels: none

Add LineProfileStats decorator
  delogger/decorators/line_profile.py
  delogger/decorators/profiles.py
  delogger/presets/profiler.py
  tests/decorators/test_profiles.py
Labels: decorator, preset

Fix test error
  delogger/decorators/line_profile.py
Labels: decorator

Format isort
  tests/decorators/test_profiles.py
Labels: none

Refactoring
  delogger/base.py
  delogger/decorators/line_memory_profile.py
  delogger/decorators/line_profile.py
  delogger/decorators/memory_profile.py
  delogger/handlers/run_rotating.py
  delogger/handlers/slack.py
  delogger/modes/slack.py
Labels: decorator, handler, mode, base

Presets logpath control by environment variables
  delogger/presets/base.py
  delogger/presets/debug.py
  delogger/presets/output.py
  delogger/presets/profiler.py
  tests/presets/test_presets.py
Labels: preset

Update readame
  README.md
Labels: none

Change RunRotating to CountRotatingFile
  README.md
  delogger/handlers/count_rotating_file.py
  delogger/modes/file.py
  delogger/presets/base.py
  delogger/presets/debug.py
  delogger/presets/profiler.py
  tests/handlers/test_count_rotating_file_handler.py
  tests/modes/test_file.py
Labels: handler, mode, preset

Update readme
  README.md
Labels: none

Fix count rotating setting
  delogger/handlers/count_rotating_file.py
  tests/handlers/test_count_rotating_file_handler.py
Labels: handler

Gardening
  delogger/presets/debug.py
Labels: preset

Add delogger constructor args
  delogger/logger.py
  tests/test_delogger.py
Labels: none

Refactoring modes.stream
  delogger/modes/stream.py
Labels: mode

Add funcName to filelog
  delogger/modes/file.py
  tests/lib/base.py
Labels: mode

Fix test error
  tests/test_delogger.py
Labels: none

Create codeql-analysis.yml
  .github/workflows/codeql-analysis.yml
Labels: workflow

Add poetry
  Makefile
  poetry.lock
  pyproject.toml
Labels: none

Change log format of info stream mode
  delogger/modes/stream.py
  tests/lib/base.py
  tests/modes/test_stream.py
Labels: mode

.github/labeler.yml:

workflow:
  - .github/*.yml
  - .github/workflows/**/*
decorator:
  - delogger/decorators/*
handler:
  - delogger/handlers/*
logger:
  - delogger/loggers/*
mode:
  - delogger/modes/*
preset:
  - delogger/presets/*
base:
  - delogger/base.py
filter:
  - delogger/filters.py
